<h2>Restaurant List</h2>
<ul class="restaurants-list">
  <% @restaurants.each do |r| %>
  <li class="restaurant-each text-center"><%= r.name %> |
    <%= r.category.capitalize %> <br>
    <%= link_to "More details", restaurant_path(id: r.id) %>
  </li>
  <% end %>
</ul>
  <%= link_to "Add a new Restaurant", new_restaurant_path, class: "new-restaurant"  %>