<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <link rel="stylesheet" href="/assets/stylesheet/application.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
    <ul class="navbar">
  <li class="list-navbar"><a class="active" href="/restaurants">Home</a></li>
  <li class="list-navbar"><a href="#about">About</a></li>
</ul>
</div>
    <div class="wrapper">
    <%= yield %>
    </div>
  </body>
</html>
